span {
    padding: 0.6em 13.7px;
}
span:not(.dont-stabilo-me){
  padding: 0;
}

span.highlight {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
span.highlight-pink {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    #FB6F92,
    #FF8FAB,
    #FFC2D1
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
span.highlight-orange {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    #FF8800,
    #FFAA00,
    #FFC300
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
span.highlight-green {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    #729775,
    #7DC95E,
    #7CDF64
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}