.button {
  display: block;
  margin: 0 auto; /* center the button */
  font-family: 'SFUIText-Regular', sans-serif; /* use the San Francisco font */
  font-size: 16px; /* set the font size */
  line-height: 1.5; /* set the line height */
  padding: 10px 20px; /* add some padding to the button */
  background-color: #007BFF; /* set the background color */
  color: #fff; /* set the text color */
  border: none; /* remove the border */
  border-radius: 4px; /* add some border radius */
  cursor: pointer;
  text-align: center; 
}

.button:hover {
  background-color: #0056b3;
}

@font-face {
  font-family: 'SFUIText-Regular';
  src: url('./fonts/SFUIText-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'SF-Pro-Display-Black', sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

@font-face {
  font-family: 'SF-Pro-Display-Black';
  src: url('./fonts/SF-Pro-Display-Black.otf');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'SF-Pro-Display-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@font-face {
  font-family: 'SF-Pro-Display-Regular', sans-serif;
  src: url('./fonts/SF-Pro-Display-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Text-Light';
  src: url('./fonts/SF-Pro-Text-Light.otf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Text-Medium';
  src: url('./fonts/SF-Pro-Text-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

input, textarea {
  font-family: 'SF-Pro-Text-Medium', sans-serif;
}

textarea:not(#output) {
  resize: vertical;
}
.sigma-input {
  width: 90%;
  margin: 0 auto;
  display: block;
  font-family: 'SF-Pro-Text-Medium', sans-serif;
  text-align: center;
  box-sizing: border-box;
  resize: vertical; 
}
