body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4f4f4;
}


.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50em;
    
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

.answers-container {
    margin-top: 10px;
}

#download-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
